  
<nav class="navbar navbar-fixed-top navbar-light bg-primary">
  <div class="container">
    
    Image Gallery 
            
      <form class="form-inline my-2 my-lg-0,">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      
  </div>
</nav>

<!--for infinite scroll-->  

    <div class="row" infiniteScroll [infiniteScrollDistance]="2" 
    [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
     [scrollWindow]="false"  
    style="height: 400px; overflow-y: scroll;">  
      <div *ngFor="let item of myPhotosList"  class="col-md-4" style="margin-top: 10px;">  
        <a href="{{item.url}}">
        <img style="height: 220px;width: 315px;" src="{{item.url}}" />  
      </a>
      </div>  
    </div>  
  
 
